.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#828282, 0.9);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 20;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: perspective(1000px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.8s ease 0s;
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 1145px;
	padding: 104px 98px 147px 112px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(1000px) translate(0px, -100%) rotateX(45deg);
	@media screen and (max-width: $lg) {
		padding: 128px 40px 51px;
	}
	@media screen and (max-width: $md) {
		padding: 60px 20px 52px;
	}
}
.person-popup {
	& .popup__content {
		padding: 0;
	}
}
.popup__content_image {
	padding: 0;
}
.popup__image img {
	max-width: 100%;
	vertical-align: top;
}
.popup__close {
	position: absolute;
	transform: translateX(100%);
	top: 0;
	right: 0;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	width: 70px;
	height: 70px;
	background: #e9862a;
	display: flex;
	justify-content: center;
	align-items: center;
	& svg {
		width: 15px;
		height: 15px;
		fill: #ffffff;
	}
	@media screen and (max-width: $xxxl) {
		transform: none;
		top: 40px;
		right: 40px;
		width: 64px;
		height: 64px;
	}
	@media screen and (max-width: $md) {
		top: 20px;
		right: 20px;
		width: 36px;
		height: 36px;
		& svg {
			width: 10px;
			height: 10px;
		}
	}
}
.popup__title {
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 35px 0px;
	font-weight: 700;
	@media screen and (max-width: $lg) {
		margin-bottom: 54px;
		font-size: 32px;
		line-height: 37px;
	}
	@media screen and (max-width: $md) {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 23px;
	}
}
.popup__subtitle {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 56px;
	@media screen and (max-width: $md) {
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 29px;
	}
}
.vacancy-info {
	&__body {
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 56px;
			@media screen and (max-width: $md) {
				margin-bottom: 40px;
			}
		}
		& > p {
			font-size: 24px;
			line-height: 24px;
			color: #242627;
			margin-bottom: 29px;
			@media screen and (max-width: $md) {
				font-size: 18px;
				margin-bottom: 22px;
			}
		}
		& ul {
			@include reset-list;
		}
		& li {
			padding-left: 24px;
			font-size: 16px;
			line-height: 24px;
			color: #242627;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: 0;
				width: 4px;
				height: 4px;
				background-color: #003264;
			}
			&:not(:last-child) {
				margin-bottom: 24px;
				@media screen and (max-width: $md) {
					margin-bottom: 12px;
				}
			}
			& mark {
				padding: 3px 10px;
				background-color: rgba(233, 134, 42, 0.17);
			}
			@media screen and (max-width: $md) {
				font-size: 13px;
				line-height: 20px;
				padding-left: 20px;
				&::before {
					top: 8px;
				}
			}
		}
	}
	&__footer {
		margin-top: 56px;
		@media screen and (max-width: $md) {
			margin-top: 21px;
		}
		& time {
			font-size: 16px;
			line-height: 24px;
			color: #828282;
			@media screen and (max-width: $md) {
				font-size: 11px;
				line-height: 24px;
			}
		}
	}
}
.vacancy-info {
	&__button {
		padding-left: 68px;
		padding-right: 68px;
		margin-top: 56px;
		@media screen and (max-width: $md) {
			margin-top: 40px;
			padding-left: 50px;
			padding-right: 50px;
			width: 100%;
		}
	}
}
.header-person {
	padding: 41px 79px 0 143px;
	background-color: #f7f7f7;
	color: #242627;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 30px;
	@media screen and (max-width: $lg) {
		padding: 71px 77px 0 40px;
	}
	@media screen and (max-width: $md) {
		padding: 60px 20px 0 20px;
		flex-direction: column;
		align-items: center;
	}
	&__content {
		text-align: left;
		padding-top: 45px;
		padding-bottom: 68px;
		@media screen and (max-width: $lg) {
			padding-top: 35px;
			padding-bottom: 122px;
		}
		@media screen and (max-width: $md) {
			padding-top: 0;
			padding-bottom: 0px;
		}
		& > *:not(:last-child) {
			margin-bottom: 40px;
			@media screen and (max-width: $lg) {
				margin-bottom: 20px;
			}
		}
	}
	&__name {
		font-size: 36px;
		line-height: 100%;
		@media screen and (max-width: $lg) {
			font-size: 28px;
		}
		@media screen and (max-width: $md) {
			font-size: 24px;
		}
	}
	&__post {
		font-size: 16px;
		line-height: 28px;
		color: #828282;
	}
	&__description {
		font-size: 22px;
		line-height: 32px;
		@media screen and (max-width: $lg) {
			font-size: 18px;
			line-height: 26px;
			margin-top: 28px;
		}
		@media screen and (max-width: $md) {
			margin-top: 0;
			font-size: 16px;
			line-height: 20px;
		}
	}
	&__image {
		height: 313px;
		flex: 0 0 184px;
		display: flex;
		justify-content: center;
		& img {
			max-height: 100%;
		}
		@media screen and (max-width: $md) {
			height: 250px;
		}
	}
}
.person-info {
	&__body {
		padding: 55px 143px 110px;
		@media screen and (max-width: $lg) {
			padding: 55px 40px 70px;
		}
		@media screen and (max-width: $md) {
			padding: 40px 20px 40px;
		}
		& h2 {
			margin-bottom: 36px;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			@media screen and (max-width: $lg) {
				font-size: 28px;
				line-height: 33px;
			}
			@media screen and (max-width: $md) {
				font-size: 24px;
			}
		}
		& p {
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 34px;
			color: #242627;
			@media screen and (max-width: $lg) {
				font-size: 16px;
			}
			@media screen and (max-width: $md) {
				line-height: 24px;
				margin-bottom: 20px;
			}
		}
		& img {
			max-width: 100%;
			max-height: 100%;
			margin: 10px 0 50px;
			@media screen and (max-width: $md) {
				margin: 10px 0 20px;
			}
		}
		& h3 {
			margin-bottom: 32px;
			font-size: 24px;
			line-height: 28px;
			@media screen and (max-width: $md) {
				font-size: 20px;
			}
		}
		& h4 {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 34px;
			@media screen and (max-width: $lg) {
				margin-bottom: 30px;
			}
		}
		& mark {
			padding: 42px;
			display: block;
			background: rgba(233, 134, 42, 0.02);
			border: 1px solid #e9862a;
			font-size: 16px;
			line-height: 34px;
			text-align: center;
			font-family: "HeliosC", sans-serif;
			margin: 50px 0;
			@media screen and (max-width: $md) {
				padding: 15px;
				margin: 20px 0;
				line-height: 26px;
			}
		}
		@media screen and (max-width: $md) {
			h2,
			h3,
			h4 {
				margin-bottom: 20px;
			}
		}
	}
}
