-
	menu = [
		{	
			"title": "Главная",
			"link": "/",
			"submenu": [
				{
					"title": "Пункт 1",
					"link": "/",
				},
				{
					"title": "Пункт 2",
					"link": "/",
				},
				{
					"title": "Пункт 3",
					"link": "/",
				},
			]
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Новости",
			"link": "news.html",
		},
		{	
			"title": "Контакты",
			"link": "contacts.html",
		},
	],
	advantages = [
		{
			'title': 'Развитие',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
		{
			'title': 'Обучение',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
		{
			'title': 'Ответственность',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
		{
			'title': 'Динамика',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
		{
			'title': 'Комфорт',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
		{
			'title': 'Надежность',
			'content': 'Общего центра обслуживания. Современные технологии, проекты, рабочие группы'
		},
	],
	employee = [
		{
			'title': 'Евдокимова Майя',
			'subtitle': 'Генеральный директор',
			'text': 'Цель нашей работы обеспечить высочайший сервис нашим клиентам. Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом, казначейства, финансового учёта и отчётности нам.'
		},
		{
			'title': 'Евдокимов Михаил',
			'subtitle': 'Генеральный директор',
			'text': 'Цель нашей работы обеспечить высочайший сервис нашим клиентам. Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом, казначейства, финансового учёта и отчётности нам.'
		},
		{
			'title': 'Евдокимов Сергей',
			'subtitle': 'Генеральный директор',
			'text': 'Цель нашей работы обеспечить высочайший сервис нашим клиентам. Дать возможность бизнесу сосредоточиться на своих ключевых задачах, передав функции управления персоналом, казначейства, финансового учёта и отчётности нам.'
		},
	],
	area = [
		{
			'title': 'Учета и отчетности'
		},
		{
			'title': 'Управления персоналом'
		},
		{
			'title': 'Казначейства'
		},
	],
	values = [
		{
			'title': 'Человеческий капитал',
			'text': 'Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
		},
		{
			'title': 'Предоставление услуг высочайшего качества',
			'text': 'Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.'
		},
		{
			'title': 'Стремление к совершенству',
			'text': 'Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
		},
	],
	vacancy = [
		{
			'title': 'Бухгалтер по расчету заработной платы',
			'price': '68.000 — 180.000 руб.'
		},
		{
			'title': 'Бухгалтер по расчету заработной платы',
			'price': 'ЗП по результатам собеседоваия'
		},
		{
			'title': 'Бухгалтер по расчету заработной платы',
			'price': '68.000 — 80.000 руб.'
		}
	],
	directions = [
		{
			'title': 'Бухгалтерский учёт',
		},
		{
			'title': 'Финансовый менеджмент'
		},
		{
			'title': 'Управление персоналом'
		},
		{
			'title': 'Социальная психология'
		},
	],
	history = [
		{
			'title': 'Татьяна Демьянова',
			'post': 'Специалист, отдел МСФО, 32 года',
			'text': '«Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи.»',
			'btn': 'Читать историю'
		},
		{
			'title': 'Вероника Маслова',
			'post': 'Специалист, отдел МСФО, 32 года',
			'text': '«Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи.»',
			'btn': 'Читать историю'
		},
		{
			'title': 'Ульяна Демидова',
			'post': 'Специалист, отдел МСФО, 32 года',
			'text': '«Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи.»',
			'btn': 'Читать историю'
		},
	]
