section.employees
	.container
		.employees__body
			.employees__slider.employees__slider-content.swiper
				.employees__slider-wrapper.swiper-wrapper
					each item in employee
						.employees__slider-item.item-employee.swiper-slide
							.item-employee__body
								.item-employee__content
									h2.item-employee__title= item.title 
									p.item-employee__subtitle= item.subtitle
									.item-employee__text= item.text
								.item-employee__image
									.item-employee__picture
										picture
											source(srcset="./images/employees/1.png" media="(min-width: 991.98px)")
											source(srcset="./images/employees/1-tablet.png" media="(min-width: 767.98px)")
											source(srcset="./images/employees/1-mobile.png" media="(max-width: 767.98px)")
											img(src="./images/employees/1.png", alt=item.title)
				.slider-controls 
					button(type="button").slider-arrow.slider-arrow-prev
						+svgsprite('arrow-prev')
					button(type="button").slider-arrow.slider-arrow-next
						+svgsprite('arrow-next')
					.slider-pagination