footer.footer
	div.container
		div.footer__copyright-block
			div.footer__copyright &copy; 1998–2019,«Компания», 53002, Иваново, Лежневская 34 корпус 1
		a.footer__link(href="/" target="_blank") Политика конфиденциальности
		a.footer__logo(href="/") 
			+svgsprite('footer_logo')