+modal('vacancy_popup')
	.vacancy-info
		.vacancy-info__title.popup__title Бухгалтер по расчету заработной платы
		.vacancy-info__subtitle.popup__subtitle от 30 000 до 60 000 руб. до вычета налогов
		.vacancy-info__body 
			.vacancy-info__item
				p Обязанности
				ul
					li Ведение бухгалтерского учета ООО и ИП "под ключ"(от обработки первичной документации до сдачи всей отчетности)
					li Составление отчетности как регламентированной так и управленческой.
					li Постановку учета с нуля,восстановление учета.
					li Консультирование в выборе формы налогообложения,оптимизация налогообложения.
					li Подготовку и сдачу отчетности в ИФНС и фонды.
					li Ввод первичной документации в 1с:реализация,поступление,банк,касса.
					li Работу с клиент-банк(проведение платежей)
			.vacancy-info__item
				p Требования
				ul
					li Опыт работы бухгалтером
					li Уверенный пользователь ПК
					li Личные качества (аккуратность,внимательность,нацеленность на результа)
			.vacancy-info__item
				p Условия
				ul
					li.
						#[mark З/плата от 30 000]
					li от 30 000 до 60 000 руб. до вычета налогов
		.vacancy-info__footer 
			time(datetime="2022-02-16") Вакансия добавлена 16 февраля 2020
			button(type="button").vacancy-info__button.btn Откликнуться
+modal('person_popup', 'person-popup')
	.person-info
		.person-info__header.header-person
			.header-person__content
				.header-person__name Татьяна Демьянова
				.header-person__post Специалист, отдел ФСО, 32 года
				.header-person__description.
					«Компания сегодня — это одна из немногих компаний, где действительно делают крутые вещи.»
			.header-person__image
				img(src="../images/history/person-modal.png", alt="Татьяна Демьянова")
		.person-info__body 
			h2 Чем я занимаюсь в компании
			p 
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
			p 
				| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			img(src="../images/history/content-picture.jpg", alt="Татьяна Демьянова")
			h3 Чем я занимаюсь в компании
			p 
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
			mark
				| По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
			h4 Рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров
			p 
				| Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Равным образом консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание существенных финансовых и административных условий.
			p 
				| С другой стороны начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации форм развития. Таким образом рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.





